@media screen and (max-width: 768px) {

    nav {
        position: fixed;
        width: 100%;
        z-index: 5;
        background-color: rgb(111, 111, 111);
    }

    nav ul {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0;
    }

    nav ul a {
        display: block;
        text-decoration: none;
    }

    nav a:hover::before {
        width: 0%;
    }

    nav a:hover {
        background-color: #555;
    }

    nav .logo {
        display: flex;
        flex-direction: row;
        padding: 0;
        height: 70px;
    }

    nav .logo img {
        display: none;
    }

    nav .logo p {
        display: flex;
        float: left;
        margin: 0;
        padding: 10px;
        top: 50%;
        flex: 0 0 65%;
    }

    .showing {
        max-height: 20em;
    }

    .menu-icon {
        display: block;
        flex: 1;
    }

    /*HERE STARTS THE ADJUSTMENTS FOR CONTENT*/
    .button {
        width: 50%;
        left: 25%;
        right: 25%;
        font-size: 20px;
    }

    .welcome {
        top: 25%;
    }

    header h1 {
        font-size: 40px;
    }

    header p {
        font-size: 22px;
    }

    .content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-1-inner1 {
        width: 60%;
        padding: 25px;
    }

    .content-1-inner2 {
        display: none;
    }

    .card-wrapper {
        display: none;
    }

    .lorem {
        padding-top: 50px;
    }

    .lorem2{
        padding-top: 50px;
    }

    #faq {
        padding-top: 50px;
    }

    .contentslider {
        display: block;
        overflow: hidden;
        height: 200px;
        position: relative;
        border-top: 1px solid rgba(0,0,0,.1);
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .contentslider h1 {
        z-index: 999;
        font-size: 36px;
        text-align: right;
        float: right;
        width: 20%;
        font-weight: 400;
        position: absolute;
        padding-top: 20px;
        padding-right: 25px;
    }

    .contentslider p {
        z-index: 999;
        font-weight: 100;
        font-size: 20px;
        text-align: right;
        position: absolute;
        width: 20%;
        padding-top: 60px;
        padding-right: 25px;
        color: black;
    }

    .contentslider figure div {
        width: 20%;
        float: left;
    }

    .contentslider figure .background-slider {
        width: 100%;
        float: left;
        clip-path: polygon(0 0, 60% 0, 40% 100%, 0% 100%);
        z-index: 1;
        position: relative;
    }

    .contentslider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: 90s slidy infinite;
    }

    @keyframes slidy {
        0% {
            left: 0%;
        }

        10% {
            left: 0%;
        }

        12% {
            left: -100%;
        }

        22% {
            left: -100%;
        }

        24% {
            left: -200%;
        }

        34% {
            left: -200%;
        }

        36% {
            left: -300%;
        }

        46% {
            left: -300%;
        }

        48% {
            left: -400%;
        }

        58% {
            left: -400%;
        }

        60% {
            left: -300%;
        }

        70% {
            left: -300%;
        }

        72% {
            left: -200%;
        }

        82% {
            left: -200%;
        }

        84% {
            left: -100%;
        }

        94% {
            left: -100%;
        }

        96% {
            left: 0%;
        }
    }
}


